html,body{
    height: 100%;
    width: 100%;
}



 .navbar{
 background-color: white;
 padding: 1% 0%;
 }

.nav-item{
    font-size: 1.5em;
}




#home{
    background: url(./4ee164e9-4a24-40f6-ae10-69bc1070ffbd.jpg) no-repeat;
    height: 110%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.landing-text{
    position: absolute;
   top: 49%;
   left: 45%;
   color:white;
   text-align: center;
}






#skills{
    background: url(./technology-785742_1280.jpg) no-repeat;
    height: 120%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header{
    position: absolute;
    left: 55%;
    transform: translate(0%,100%);
    color: ghostwhite;
    text-align: center;
}
.progress{
    background: transparent;
    color: white;
    width: 80em;
    margin: 2em;
    margin-left: 3em;
    height: 1.5em;
    position: relative;
    left: 40%;
    transform: translate(0%,1100%);
}
.progress-bar{
    background:cyan;
    float: left;
    margin-left: 3em;
    position: relative;
    color: black;
}
h6{
    color: white;
    position: relative;
    left: 45%;
    transform: translate(0%,1100%);
}







#education{
    height: 120%;
    width:100%;
}
.education{
    left: 45%;
    color: black;
    transform: translate(0%,2em);
}
.timeline{
    margin:0  auto;;
    position: relative;
    transform: translate(0%, 40%);
    max-width: 1200px;
    color: black;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    background-color: blue;
    top: 0;
    bottom: 0%;
    left: 50%;
    margin-left: 3px;
}
.container{
    padding: 5px 40px;
    position: relative;
    width: 50%;
}
.left{
    left: 5%;
}
.left::after{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 14.8em;
    background-color: blue;
    border: 4px solid transparent;
    top:15px;
    border-radius: 50%;
}
.right{
    left: 27%;
}






.break{
    width: 700px;
    border-top: 1px solid blue;
    margin:100px auto;
    
}

#contact{
    width: 100%;
    height: 50%;
}
.contact{
    position: relative;
    left: 40%;
}
.email{
    position: relative;
    top: 30%;
}